:root {
    --branding-color: #6c63ff;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family: "Poppins", serif;
    --secondary-color: #f9f7fe;

}

body {
    font-family: var(--default-font-family);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    color: #272142;
}

h1 {
 font-size: 96px;  
 line-height: 2; 
}

h2 {
    font-size: 64px;
}

p {

font-weight: normal
font-size: 16px;
line-height: 30px;
}

img {
    border-radius: 8px;
  
}


.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
}

.hero {
    padding: 80px 20px;

}


.content-container {
    padding: 160px 20px;
}
.content {

    margin: 30px;
}

  
.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}


.content h3 {
   font-size: 24px;
   font-family: var(--default-font-family);
   line-height: 1px;
   margin: 20px 0;
}

.content p {
    font-size: 14px;
    margin: 16px 0 0;
    

}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
}

.btn-branding-outline {
    background: white;
    border-radius: 4px;
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    border: 1px solid var(--branding-color);
}

.project-description {
    padding: 120px 60px;
}

@media (max-width: 960px) {
    .project-description {
    padding: 0;
    text-align: center;
}


